<template>
    <div class="container-fluid mx-4">
        <template v-if="eventDetails">
            <div class="row mt-3">
                <div class="col-12">
                    <h1>RSVP List for {{ eventDetails.event_name }}</h1>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-4 col-md-2">Tgl Event</div>
                        <div class="col-8 col-md-10">: {{ $formatIDDate(eventDetails.starting_date) }}</div>

                        <div class="col-4 col-md-2">Author</div>
                        <div class="col-8 col-md-10">: {{ eventDetails.author }}</div>

                        <div class="col-4 col-md-2">Lokasi Event</div>
                        <div class="col-8 col-md-10">: {{ eventDetails.location }}</div>

                        <div class="col-4 col-md-2">Admission</div>
                        <div class="col-8 col-md-10">: {{ eventDetails.admission }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 p-0">
                    <b-table
                        v-if="!loading"
                        :items="items" 
                        :fields="fields"
                        responsive
                        head-variant="dark"
                        :current-page="currentPage"
                        :per-page="perPage"
                        :filter="filter"
                        @filtered="onFiltered"
                    >
                        <template #cell(Attendance_ID)="row">
                            {{ row.item.id_trans }}
                        </template>
                        <template #cell(User_Details)="row">
                            <b>{{ row.item.nama_depan }} {{ row.item.nama_belakang }}</b> - <em>{{ row.item.email }}</em>
                        </template>
                        <template #cell(attendance)="row">
                            <p v-if="row.item.attendance == 1" class="text-success font-weight-bold">HADIR</p>
                            <p v-else class="text-secondary font-weight-bold">Belum hadir</p>
                        </template>
                        <template #cell(timestamp)="row">
                            {{ $formatIDDate(row.item.timestamp) }}
                        </template>
                        <!-- <template #cell(action)="row">
                            <b-button size="sm" class="mr-2" variant="success" pill @click="publishArtikel(row)" block>{{ row.item.status == 0 ? 'Publish' : 'Unpublish' }}</b-button>
                            <b-button size="sm" class="mr-2" variant="primary" pill @click="openEditForm(row)" block>Edit</b-button>
                            <b-button size="sm" class="mr-2" variant="dark" pill block @click="openDeleteAlert(row)">Delete</b-button>
                        </template> -->
                    </b-table>
                </div>
                <div class="col-12">
                    <b-pagination
                        v-if="!loading"
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        align="right"
                        size="sm"
                        class="my-3"
                    ></b-pagination>
                </div>
            </div>
        </template>
        <template v-else>
            <div class="row mt-3">
                <div class="col-12">
                    <h3 class="text-secondary">Belum ada yang mendaftar...</h3>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                loading:false,
                items:[],
                fields:[
                    {key:'Attendance_ID',sortable:false}, 
                    {key:'id_event',sortable:true}, 
                    {key:'timestamp',sortable:true},
                    {key:'User_Details',sortable:true}, 
                    {key:'attendance',sortable:true}, 
                ],
                eventDetails:null,
                currentPage:1,
                totalRows:0,
                perPage:10,
                filter:'',
            }
        },
        methods: {
            onFiltered(filteredItems) {
                this.totalRows = filteredItems.length
                this.currentPage = 1
            },
        },
        async mounted() {
            let listAttendance = await this.$axios.get(`/events/attendance/event/${this.$route.query.id}`, { params:{}, headers: { 'auth-token': this.$cookies.get('admin-token') } })
            this.items = listAttendance.data.data
            this.totalRows = listAttendance.data.data.length
            if(this.items.length > 0) {
                this.eventDetails = {
                    event_name:this.items[0].event_name,
                    starting_date:this.items[0].starting_date,
                    author:this.items[0].author,
                    location:this.items[0].location,
                    admission:this.items[0].admission,
                }
            }
        }
    }
</script>

<style scoped>

</style>