<template>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12">
                <h1>Event Form</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <b-form-group id="input-group-title" label="Judul Event" label-for="input-title">
                    <b-form-input id="input-title" v-model="form.event_name" placeholder="Masukkan judul event"
                        :state="validation.event_name"></b-form-input>
                    <b-form-invalid-feedback :state="validation.event_name">
                        Judul event tidak valid
                    </b-form-invalid-feedback>
                </b-form-group>
            </div>
            <div class="col-12">
                <b-form-group id="input-group-body" label="Konten Event" label-for="input-body">
                    <div class="row">
                        <div class="col-md-12 mb-1">
                            <b-button-group>
                                <b-button variant="primary">
                                    <b-icon icon="type-bold" @click="wrapSelection('**')"></b-icon>
                                </b-button>
                                <b-button variant="primary">
                                    <b-icon icon="type-italic" @click="wrapSelection('*')"></b-icon>
                                </b-button>
                                <b-button variant="primary">
                                    <b-icon icon="dash" @click="appendSelection('\n***')"></b-icon>
                                </b-button>
                                <b-button variant="primary">
                                    <b-icon icon="type-strikethrough" @click="wrapSelection('~~')"></b-icon>
                                </b-button>
                            </b-button-group>

                            <b-button-group>
                                <b-button variant="primary">
                                    <b-icon icon="link45deg"
                                        @click="appendSelection('[link](https://www.example.com)')"></b-icon>
                                </b-button>
                                <b-button variant="primary">
                                    <b-icon icon="card-image" @click="appendSelection('![alt text](image.jpg)')">
                                    </b-icon>
                                </b-button>
                                <b-button variant="primary">
                                    <b-icon icon="list-ol" @click="appendSelection('\n1. \n2. \n3. \n')"></b-icon>
                                </b-button>
                                <b-button variant="primary">
                                    <b-icon icon="list-ul" @click="appendSelection('\n- \n- \n- \n')"></b-icon>
                                </b-button>
                            </b-button-group>
                        </div>
                        <div class="col-md-6">
                            <b-button-group>
                                <b-button variant="primary" @click="appendSelection('# ')">
                                    H1
                                </b-button>
                                <b-button variant="primary" @click="appendSelection('## ')">
                                    H2
                                </b-button>
                                <b-button variant="primary" @click="appendSelection('### ')">
                                    H3
                                </b-button>
                                <b-button variant="primary" @click="appendSelection('#### ')">
                                    H4
                                </b-button>
                                <b-button variant="primary" @click="appendSelection('##### ')">
                                    H5
                                </b-button>
                                <b-button variant="primary" @click="appendSelection('###### ')">
                                    H6
                                </b-button>
                            </b-button-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <b-form-textarea ref="md-textarea" class="mt-3" id="input-body" v-model="form.body"
                                placeholder="Enter something..." rows="8" max-rows="8"></b-form-textarea>
                            <b-form-invalid-feedback :state="validation.body">
                                Konten tidak boleh kosong
                            </b-form-invalid-feedback>
                        </div>
                        <div class="col-md-6">
                            <h6>Result</h6>
                            <div v-html="$md.render(form.body)" class="text-break"></div>
                        </div>
                    </div>
                </b-form-group>
            </div>
            <div class="col-6">
                <b-form-group id="input-group-startdate" label="Tanggal mulai event" label-for="input-startdate">
                    <b-form-input id="input-startdate" v-model="form.starting_date" type="date"
                        :state="validation.starting_date"></b-form-input>
                    <b-form-invalid-feedback :state="validation.starting_date">
                        Tentukan tanggal yang valid
                    </b-form-invalid-feedback>
                </b-form-group>
            </div>
            <div class="col-6">
                <b-form-group id="input-group-author" label="Penyelenggara" label-for="input-author">
                    <b-form-select v-model="form.author" :options="listAuthor" :state="validation.author">
                    </b-form-select>
                    <b-form-invalid-feedback :state="validation.author">
                        Pilih penyelenggara
                    </b-form-invalid-feedback>
                </b-form-group>
            </div>
            <div class="col-md-6">
                <b-form-group id="input-group-location" label="Lokasi Event" label-for="input-location">
                    <b-form-input id="input-location" v-model="form.location" placeholder="Lokasi"
                        :state="validation.location"></b-form-input>
                    <b-form-invalid-feedback :state="validation.location">
                        Lokasi tidak valid
                    </b-form-invalid-feedback>
                </b-form-group>
            </div>
            <div class="col-md-6">
                <b-form-group id="input-group-admission" label="Biaya Pendaftaran" label-for="input-admission">
                    <b-form-input id="input-admission" v-model="form.admission" placeholder="Masukkan biaya pendaftaran"
                        :state="validation.admission"></b-form-input>
                    <b-form-invalid-feedback :state="validation.admission">
                        Biaya pendaftaran tidak valid
                    </b-form-invalid-feedback>
                </b-form-group>
            </div>
            <div class="col-md-6">
                <b-form-group id="input-group-gambar" label="Gambar" label-for="input-category">

                    <label class="custom-file" for="file">
                        <input @change="handleSelectedFiles" id="file" name="file" ref="fileInput" type="file"
                            enctype="multipart/form-data">
                    </label>
                    <b-form-invalid-feedback :state="validation.image">
                        Upload Gambar
                    </b-form-invalid-feedback>
                </b-form-group>

                <div id="preview">
                    <img class="img-thumbnail" v-if="url" :src="url" />
                </div>
            </div>
            <div class="col-md-6">
            </div>
            <div class="col">
                <b-button v-if="type == 'insert'" variant="primary" pill class="px-5" :disabled="loading"
                    @click="handleInsert">Add Event</b-button>
                <b-button v-else variant="primary" pill class="px-5" :disabled="loading" @click="handleUpdate">Update
                    Event</b-button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            type: 'insert',
            files: null,
            url: null,
            loading: false,
            listCategory: [
                'Kategori 1',
                'Kategori 2',
                'Kategori 3',
            ],
            listAuthor: [
                'Dow Jones',
                'Jon Doe',
                'Mark Joe',
            ],
            customButtons: [
                {
                    label: "H1",
                    key: "h1",
                    icon: "fas fa-h1",
                    group: "basic"
                }
            ],
            form: {
                event_name: '',
                body: '',
                starting_date: '',
                author: '',
                location: '',
                admission: '',
            },
            validation: {
                event_name: null,
                body: null,
                starting_date: null,
                author: null,
                location: null,
                admission: null,
            }
        }
    },
    methods: {
        handleSelectedFiles() {

            let selectedFiles = this.$refs.fileInput.files;
            const file = selectedFiles[0];
            this.url = URL.createObjectURL(file);
            this.files = file;

        },
        async handleInsert() {
            this.loading = true
            for (const key in this.validation) {
                this.validation[key] = null
            }

            var data = new FormData();
            data.append('event_name', this.form.event_name)
            data.append('body', this.form.body)
            data.append('starting_date', this.form.starting_date)
            data.append('author', this.form.author)
            data.append('location', this.form.location)
            data.append('admission', this.form.admission)
            
            if(this.files != null) {
                data.append('image', this.files, this.files.data)
            }

            data.append('isPartner', 0)

            await this.$axios.post(`/events`, data, {
                headers: {
                    "auth-token": this.$cookies.get('admin-token')
                }
            })
                .then(res => {
                    this.$router.push({ name: 'home-events' })
                })
                .catch(err => {
                    err.response.data.errors.forEach(row => {
                        this.validation[row.param] = false
                    });
                })
            this.loading = false
        },
        async handleUpdate() {
            this.loading = true
            for (const key in this.validation) {
                this.validation[key] = null
            }

            var data = new FormData();
            data.append('id_event', this.form.id_event)
            data.append('event_name', this.form.event_name)
            data.append('body', this.form.body)
            data.append('starting_date', this.form.starting_date)
            data.append('author', this.form.author)
            data.append('location', this.form.location)
            data.append('admission', this.form.admission)
            data.append('status', this.form.status)
            
            if(this.files != null) {
                data.append('image', this.files, this.files.data)
            }
            
            data.append('isPartner', 0)

            await this.$axios.put(`/events`, data, {
                headers: {
                    "auth-token": this.$cookies.get('admin-token')
                }
            })
                .then(res => {
                    this.$router.push({ name: 'home-events' })
                })
                .catch(err => {
                    err.response.data.errors.forEach(row => {
                        this.validation[row.param] = false
                    });
                })
            this.loading = false
        },
        wrapSelection(wrappingString) {
            let textArea = this.$refs["md-textarea"]
            var s = textArea.selectionStart;
            var e = textArea.selectionEnd;
            var oldValue = textArea.value;
            var newValue = oldValue.slice(0, s) + wrappingString + oldValue.slice(s, e) + wrappingString + oldValue.slice(e, oldValue.length);
            this.form.body = newValue;
        },
        appendSelection(wrappingString) {
            let textArea = this.$refs["md-textarea"]
            var s = textArea.selectionStart;
            var e = textArea.selectionEnd;
            var oldValue = textArea.value;
            var newValue = oldValue.slice(0, s) + wrappingString + oldValue.slice(s, e) + oldValue.slice(e, oldValue.length);
            this.form.body = newValue;
        }
    },
    mounted() {
        if (localStorage.getItem('payload-edit')) {
            this.type = 'update'
            let row = JSON.parse(localStorage.getItem('payload-edit'))
            console.log(row)
            this.form = row
        }
    }
}
</script>