<template>
  
</template>
<script>
  import { mapActions } from 'vuex'
  export default {
    methods: {
        ...mapActions({
            'adminLogout':'auth/adminLogout'
        }),
    },
    mounted() {
        this.$cookies.removeAll()
        this.adminLogout()
        this.$router.push({ name: 'index' })
    }
  }
</script>