// $theme-colors: (
//   'primary': #b72225,
//   'secondary': #c1c1c0, 
//   'light': #f5f5f5,
//   'shade': #3a3a3a,
//   'dark': #191919,
//   'info': #4062ad,
//   'white': #fff,
//   'black': #000,

//   'success': #1ce1ac,
//   'warning': #ffbe0b,
//   'danger': #ff007f,
// );

.btn {
  font-weight: bold !important;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s ease-in;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

// @import url("https://fonts.googleapis.com/css?family=Gotham:300,400,700,900&display=swap");

$font-size-base: 1rem;
$font-family-sans-serif: "Gotham";

@import '~/node_modules/bootstrap/scss/bootstrap.scss';