$color-primary: #ea2424;
$color-white: #ffffff;
$color-black: #000000;

$mp-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);

.bg-semi-dark{
    background-color: rgba(0, 0, 0, 0.15);
}

.mp-text-red{
    color: $color-primary;
    font-size: 24px;
    font-weight: 600;
}

.mp-primary-color{
    color: $color-primary;
}

.mp-black-color{
    color: $color-black;
}

.mp-white-color{
    color: $color-white;
}

.mp-border-radius{
    border-radius: 5px;
}

.mp-paragraf{
    font-size: 16px;
}

.mp-fs-24{
    font-size: 24px;
}

.mp-fs-20{
    font-size: 20px;
}

.mp-fs-34{
    font-size: 34px;
}

.mp-fw-600{
    font-weight: 600;
}

.mp-rounded{
    border-radius: 50%;
}

.mp-link__black-color{
    text-decoration: none;
    color: $color-black;

    &:hover{
        text-decoration: none;
    }
}

@media(min-width: 1200px){
    .container{
        max-width: 1280px;
    }
}

.mp-menu{
    display: block;
    top: 425px;
    // top: 550px; 
    overflow-x: auto; 
    z-index: 99;
    
    .mp-menu-items{
        position: relative;
        max-width: 280px;
        background-color: $color-white;
        margin: 10px 0;
        border-radius: 0 25px 25px 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        left: -200px;
        transition: 0.35s ease-in-out;

        &:hover{
            transform: translateX(200px);
            transition: 0.5s ease-in-out;
        }

        .mp-button-menu-item{
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            font-size: 24px;
            cursor: pointer;

            span{
                font-weight: 600;
            }
        }
    }

    @media (max-width: 767px){
        display: none;
    }

    @media (max-width: 1000px){
        top: 325px;
    }
}

.mp-container{
    padding: 60px 50px;
    margin-bottom: 40px;

    .mp-title-section{
        text-align: center;
        
        h2{
            font-size: 2.5em;
            font-weight: 600;
        }
    }

    &.principal{
        padding: 60px 50px 0 50px;
    }

    &.showroom{
        padding: 60px 250px;
    }

    @media (max-width: 900px){
        padding: 60px 20px;
        &.showroom{
            padding: 60px 50px;
        }
    }
}

.mp-principal__section{
    padding-bottom: 80px;
}

.carousel-inner {
    max-height: 800px;

    @media (max-width: 720px){
        max-height: 735px;
    }
}

ul.mp-list-text{
    list-style-type: none;
    margin-left: -40px;

    li{
        margin: 10px 0;
        font-size: 18px;
    }
}

.mp-dialog-login.modal-header{
    border-bottom: none;
    display: block;
    text-align: center;
}

.mp-modal-login{
    .modal-content{
        background-color: rgba(222, 222, 222, 0.75);
        border: 1px solid rgba(222, 222, 222, 0.75);
        border-radius: 10px;
        box-shadow: 2px 5px 25px rgb(0 0 0 / 25%);
    }
}

.mp-image-news{
    max-height: 400px;
    object-fit: contain;
}

.mp-image-rounded{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 380px;
        margin: 1.75rem auto;
    }
}


.mp-navbar__user{
    display: flex;
    align-items: center;
    margin-right: 20px;

    .mp-navbar-item{
        padding: 0 15px;

        span{
            font-size: 20px;
            font-weight: 500;
        }
    }

    @media (max-width: 900px){
        display: none;
    }
}

.mp-news-card__new{
    .mp-news-card{
        // cursor: pointer;

        .card-title{
            margin-bottom: 15px;
        }

        img{
            width: 100%;
            max-height: 400px;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}

.mp-news__detail-content{
    padding: 0 25px 0 20px;

    img{
        width: 100%;
        max-height: 500px;
        object-fit: cover;
        border-radius: 10px;
    }

}

.mp-border-bottom__news{
    display: block;
    max-width: 650px;
    border: 2px solid $color-primary;
}

a.mp-link__redirect{
    color: inherit;

    &:hover{
        color: inherit;
        text-decoration: none;
    }
}

.mp-news-detail__sidebar{
    img{
        max-width: 100px;
        max-height: 100px;
    }
}

.mp-about-us__page{
    background-image: url("~/static/bg-image-about-us=top.png"), url("~/static/bg-image-about-us-bottom.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 140px;
    background-position: top, bottom;

    @media (max-width: 900px){
        margin-top: 0;
    }
}

.mp-title-page{
    display: flex;
    justify-content: center;
    text-align: center;

    h1{
        background-color:#FFFFFFCC;
        padding: 10px 20px;
        width: fit-content;
        border-radius: 20px;
    }
}

.mp-title-page__with-shadow{
    display: flex;
    justify-content: center;
    text-align: center;
    
    h1{
        background-color:#FFFFFFCC;
        padding: 10px 20px;
        width: fit-content;
        border-radius: 25px;
        box-shadow: $mp-box-shadow;
    }
}

.mp-card__transparant{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: $mp-box-shadow;
    border-radius: 25px;

    .mp-card__content-padding{
        padding: 50px 80px;
    }

    .mp-text__aboutus-content{
        font-size: 32px;
        font-weight: 500;

    }
    
    &.bg-hand{
        background-image: url("~/static/bg-hand.png");
        background-position: left;
        background-repeat: no-repeat;
        background-size: 10em;
        background-position-y: bottom;
    }

    @media (max-width: 900px){
        &.bg-hand{
            background-size: 5em;
        }

        .mp-card__content-padding{
            padding: 50px 20px;
        }

        .mp-text__aboutus-content{
            font-size: 18px;
            font-weight: 500;
        }
    }
}

.mp-card__transparant-form{
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: $mp-box-shadow;
}

.border-card__left{
    position: relative;
    border: 4px solid #ea2424;
    border-radius: 0 20px 20px 0;
    top: 40px;
    max-width: 55%;

    &.border__visi-misi{
        top: 20px;
        max-width: 60%;
    }

    &.bottom{
        top: -45px;
    }
}

.border-card__right{
    position: relative;
    border: 4px solid #ea2424;
    border-radius: 0 20px 20px 0;
    top: -30px;
    max-width: 55%;
    margin: 0 auto;

    &.border__visi-misi{
        top: 20px;
        max-width: 60%;
    }

    &.bottom{
        top: -45px;
    }
}


.mp-container__small-content{
    padding: 100px 100px 150px;

    @media (max-width: 988px){
        padding: 100px 20px 50px;
    }
}

.mp-same-box{
    min-height: 710px;

    @media (max-width: 900px){
        min-height: 250px;
    }
}


.mp-register{
    background-image: url("~/static/bg-register.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.mp-card__register{
    display: flex;
    justify-content: center;
}

.mp-logo__footer{
    @media (max-width: 988px){
        width: 250px;
    }
}

.mp-event__description{

    p{
        font-size: 18px;
        font-weight: 600;

        span{
            font-size: 16px;
            font-weight: 400;
        }
    }
}

.navbar{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.mp-card__box-shadow{
    box-shadow: $mp-box-shadow;
    border-radius: 10px;

    img{
        border-radius: 10px 10px 0 0;
    }
}

.mp-material-inquiry{
    background-image: url("~/static/bg-abstract.png");
    background-repeat: repeat;
    background-size: auto;

    .mp-material__container{
        min-height: 100vh; 
        padding: 180px 80px;

        @media (max-width: 900px){
            padding: 180px 10px;
        }
    }
}

.mp-material-inquiry__principal{
    .mp-material__principal{
        min-height: 100vh; 
        padding: 0 60px;

        @media (max-width: 720px){
            padding: 0 15px;
        }
    }
}

.mp-form__group{
    padding: 60px 150px 10px 150px;

    @media (max-width: 900px){
        padding: 20px 15px;
    }
}

.mp-form__kebutuhan{
    padding: 0px 50px 40px 50px;

    .mp-box__form{
        padding: 10px 20px;
        background-color: #D9D9D9;
        border-radius: 25px;
        box-shadow: $mp-box-shadow;
    }

    .mp-button__add-form{
        background-color: $color-white;
        margin: 80px 60px;
        padding: 20px;
        text-align: center;
        border-radius: 15px;
        cursor: pointer;

        p{
            font-size: 20px;
            font-weight: 600;
        }
    }
}

.mp-carousel__principal{
    .carousel-control-prev{
        width: 5%;
    }

    .carousel-control-next {
        width: 5%;
    }
}

.mp-slider__principal{
    padding: 30px 80px;
    background-color: #D9D9D9;

    @media (max-width: 720px){
        padding: 30px 20px;
    }
}

.mp-image-principal{
    width: 180px;
    height: 180px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 20px;
    box-shadow: $mp-box-shadow;

    @media (max-width: 720px){
        width: 150px;
        height: 150px;
    }
}

.mp-box-shadow{
    box-shadow: $mp-box-shadow;
}

.mp-card__showroom{
    .card-img{
        height: 280px;
        object-fit: cover;
        object-position: center;
        border-radius: 20px 20px 0 0;
    }

    .card-body{
        padding: 0.65rem 1.25rem;
    }

    h2{
      margin-bottom: 0;  
    }
}

.mp-catalog__filter{
    padding: 20px 30px 20px 15px;
    border-radius: 15px;
    min-height: 350px;
    margin-right: 20px;
}

.mp-search__form{
    .input-group-append{
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 9;
    }
}

.mp-inquiry__filter{
    display: flex;
    margin-left: auto; 
    max-width: 420px;
}

.mp-list-category__level-1{
    margin-bottom: 10px;

    span{
        font-size: 18px;
    }

    .mp-list-category__level-2{
        p{
            padding-left: 12px;
            margin-bottom: 0;
            font-size: 16px;
        }
    }
}

.mp-button-sort{
    min-width: 150px;

    button{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.mp-principal__galery{
    .carousel-inner{
        max-height: 330px;

        // img{
        //     object-fit: contain;
        // }
    }
}

.mp-product__card{
    img{
        border-radius: 15px 15px 0 0;
    }

}

.mp-product__color{
    display: flex;
    justify-content: center;
    align-items: center;

    span{
        height: 15px;
        width: 15px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 4px;
    }
}

.mp-profile__background-image{
    background-image: url("~/static/bg-profile.png");
    background-repeat: repeat;
    background-size: contain;
    min-height: 100px;
    height: 350px;
    margin-top: 145px;
    
    .mp-profile__avatar{
        text-align: center;
        padding-top: 120px;
    }
}

.mp-profile__form{
    background-image: url("~/static/bg-image-profile.png");
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 500px;


    .mp-profile__form-content{
        padding: 50px 380px 180px;

        @media (max-width: 1000px){
            padding: 50px 150px 180px;
        }

        @media (max-width: 700px){
            padding: 50px 50px 180px;
        }
    }
}

.mp-button__scroll{
    position: fixed;
    right: 40px;
    bottom: 30px;
    border-radius: 50%;
    padding: 10px 15px;
    z-index: 99;
}

.mp-catalog__category{
    display: flex;
    justify-content: space-between;

    .mp-catalog__filter-sort-and-search{
        display: flex;
    }
}

.mp-catalog__ads{
    min-height: 500px;
    border: 1px solid #c4c4c4;

    .mp-ads{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 200px 0;
    }
}

.mp-show{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

.mp-hide{
    visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.mp-navbar__mobile{
    display: none;

    @media (max-width: 900px){
       display: block;
    }
}

.mobile-nav-item-container{
    max-height: 400px; 
    overflow: overlay;
    max-width: 200px;

    .mp-navbar-item{
        padding: 0 25px;
    }
}

.mp-newsletter{
    @media (max-width: 900px){
        margin-top: 20px;
    }
}

.mp-navbar__logo{
    max-width: 250px;

    @media (max-width: 600px){
        max-width: 200px;
    }
}

.mp-prinsipal__card{
    background-color: $color-white;
    padding: 140px 20px 20px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: $mp-box-shadow;
}

