<template>
    <div class="container-fluid mx-4">
        <div class="row mt-3">
            <div class="col-12">
                <h1>Assets</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <b-button variant="primary" pill class="px-5" size="sm" @click="showUploadForm = true">+ Upload asset</b-button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row mt-3">
                    <div class="col-12">
                        <h3>Asset Anda</h3>
                    </div>
                    <div class="col-auto d-flex justify-content-center align-items-center" v-for="(tmp,idx) in tempUrl" :key="idx">
                        <div class="p-3 card h-100">
                            <b-img :src="tmp" fluid width="150" height="150" class="shadow mb-5"></b-img>
                            <b-button variant="secondary" pill class="px-5 mt-2 position-absolute" style="bottom: 15px;" @click="deleteGallery(idx)" size="sm">Delete</b-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-auto d-flex justify-content-center align-items-center" v-for="(tmp,idx) in assets" :key="idx">
                    <div class="p-3 card h-100">
                        <b-img :src="tmp" fluid width="150" height="150" class="shadow mb-5"></b-img>
                        <div class="row position-absolute" style="bottom: 10px;">
                            <div class="col-12">
                                <b-button variant="secondary" class="mt-2" @click="deleteGallery(tmp)" size="sm" v-b-tooltip.hover title="Delete Asset">
                                    <b-icon icon="trash-fill"></b-icon>
                                </b-button>
                                <b-button variant="success" class="mt-2" @click="copyText(tmp)" size="sm" v-b-tooltip.hover :title="tooltipTitle">
                                    <b-icon icon="link45deg"></b-icon>
                                </b-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal centered content-class="shadow" v-model="showUploadForm" hide-footer hide-header size="lg">
            <div class="row">
                <div class="col-md-12">
                    <b-form-group
                        id="input-group-gallery"
                        label="Upload Gallery"
                        label-for="input-gallery"
                    >
                        <b-form-file 
                            accept="image/jpeg, image/png, image/jiff"
                            id="input-gallery" 
                            multiple 
                            class="rounded-pill bg-glass"
                            v-model="assets"
                            @input="uploadAssets"
                        ></b-form-file>
                    </b-form-group>
                    <div class="row">
                        <div class="col-auto d-flex justify-content-center align-items-center" v-for="(tmp,idx) in tempUploadThumbnail" :key="idx">
                            <div class="p-3 card h-100">
                                <b-img :src="tmp" fluid width="150" height="150" class="shadow mb-5"></b-img>
                                <b-button variant="dark" pill @click="removeFile(idx)" size="sm">X remove</b-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <b-button variant="primary" pill @click="submitAsset" class="px-5 float-right">Upload Asset</b-button>
                    <b-button variant="light" pill class="w-25 float-right mx-2" @click="showUploadForm = false">Close</b-button>
                </div>
            </div>
        </b-modal>
        <b-modal centered content-class="shadow" :visible="showAlert" hide-footer hide-header>
            <p class="my-2 text-center">{{ alertMsg }}</p>
            <div class="row">
                <div class="col-md-12">
                    <b-button variant="primary" pill class="w-25 float-right mx-2" @click="showAlert = false">OK</b-button>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                baseUrl:process.env.BASE_BACKEND_URL,
                showUploadForm: false,
                assets:[],
                tempUploadThumbnail:[],
                tempUrl:[],
                showAlert: false,
                alertMsg: '',
                tooltipTitle:'Get Link',
            }
        },
        methods: {
            uploadAssets() {
                if (this.assets.length > 0) {
                    this.assets.forEach(row => {
                        this.tempUploadThumbnail.push(window.URL.createObjectURL(row));
                    });
                }
            },
            copyText(link) {
                this.tooltipTitle = 'Link Copied!'
                navigator.clipboard.writeText(link);
                setTimeout(() => {
                    this.tooltipTitle = 'Get Link'
                }, 1000)
            },
            removeFile(idx) {
                this.tempUploadThumbnail.splice(idx, 1);
                this.assets.splice(idx, 1);
            },
            async submitAsset() {
                let formData = new FormData();
                this.assets.forEach(img => {
                    formData.append('gambar',img)
                });
                await this.$axios.post(`/artikels/asset/upload`, formData, { headers: {
                    'Content-Type': 'multipart/form-data',
                    "auth-token":this.$cookies.get('admin-token')
                }})
                .then(async res => {
                    this.showAlert = true
                    this.alertMsg = 'upload file berhasil!'
                    this.tempUploadThumbnail = []
                    this.assets = []
                    await this.fetchAssets()
                })
                .catch(err => {
                    this.showAlert = true
                    this.alertMsg = 'mohon maaf, terjadi kesalahan, silahkan coba beberapa saat lagi.'
                    console.log(err.response)
                })
            },
            async deleteGallery(id_asset) {
                let id = id_asset.split('/')
                await this.$axios.delete(`/artikels/asset/${id[4]}`,{ headers: {
                    "auth-token":this.$cookies.get('admin-token')
                }, data: {} })
                .then(async res => {
                    this.showAlert = true
                    this.alertMsg = 'delete gambar berhasil!'
                    this.tempUploadThumbnail = []
                    this.assets = []
                    await this.fetchAssets()
                })
                .catch(err => {
                    this.showAlert = true
                    this.alertMsg = 'mohon maaf, terjadi kesalahan, silahkan coba beberapa saat lagi.'
                    console.log(err.response)
                })
            },
            async fetchAssets() {
                let assetNames = await this.$axios.get(`/artikels/asset`, { params:{}, headers: { 'auth-token': this.$cookies.get('admin-token') } })
                assetNames.data.data && assetNames.data.data.forEach(row => {
                    this.assets.push(`${this.baseUrl}/asset/${row}`)
                });
            }
        },
        async mounted() {
            await this.fetchAssets()
        }
    }
</script>

<style scoped>

</style>