<template>
    <div class="container-fluid" style="max-height: 100vh; overflow: auto;">
        <div class="row mt-3">
            <div class="col-12">
                <h1>Customers</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="filter-input">Omni-Search</label>
                <b-input-group>
                    <b-form-input
                        id="filter-input"
                        v-model="filter"
                        type="search"
                        placeholder="Type to Search"
                        debounce="500"
                        @change="fetchTableData()"
                    ></b-form-input>
                    <b-input-group-append>
                        <b-button :disabled="!filter" @click="clearOmniSearch">Clear</b-button>
                    </b-input-group-append>
                </b-input-group>
            </div>
            <b-table
                :items="items" 
                :fields="['action']"
                thead-class="hidden_header"
                :current-page="currentPage"
                :per-page="0"
                borderless
            >
                  <template #cell(status)="row">
                        {{ row.item.status == 0 ? 'Unpublished.' : 'Published.' }}
                    </template>
                <template #cell(action)="row" class="testing">
                    <b-card class="h-100">
                        <b-badge class="position-absolute" style="top: 10px; right: 10px;" variant="primary">ID: {{ row.item.id_user }}</b-badge>
                        <div class="row">
                            <div class="col-md-3">
                                <p class="text-center"><b-avatar :src="baseUrl+'/profile/'+row.item.foto_profil" size="6rem"></b-avatar></p>
                                <b-button size="sm" @click="getCustomerRequests(row.item.id_user)" variant="primary" pill block>List Request</b-button>
                <b-button size="sm" class="mr-2" variant="success" pill @click="statusUser(row)" block>{{ row.item.status == 0 ? 'Accept' : 'Accepted' }}</b-button>
                                               
                        <b-button size="sm" class="mr-2" variant="dark" pill block @click="openDeleteAlert(row)">Delete</b-button>
                            </div>
                            <div class="col-md-9">
                                <span class="font-weight-bold m-0">{{ row.item.nama_depan }} {{ row.item.nama_belakang }}</span> 
                                <span class="font-italic">{{ row.item.role }} - ({{ row.item.profesi }})</span>
                                <div class="row">
                                    <div class="col-12">{{ row.item.email }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-4">No. HP</div>
                                    <div class="col-8">: {{ row.item.no_hp }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-4">Minat</div>
                                    <div class="col-8">: {{ row.item.minat }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-4">Asal Kota</div>
                                    <div class="col-8">: {{ row.item.asal_kota }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-4">Tujuan</div>
                                    <div class="col-8">: {{ row.item.tujuan }}</div>
                                </div>
                            </div>
                        </div>                            
                        <template #footer>
                            <div class="row">
                                <div class="col-3 d-flex justify-content-center align-self-center">
                                    <b-avatar rounded :src="baseUrl+'/company_logo/'+row.item.foto_perusahaan" size="5rem"></b-avatar>
                                </div>
                                <div class="col-9 p-0">
                                    <div class="row">
                                        <div class="col-md-4 font-weight-bold">Nama Perusahaan</div>
                                        <div class="col-md-8">{{ $decodeHtml(row.item.nama_perusahaan) }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 font-weight-bold">Kategori Perusahaan</div>
                                        <div class="col-md-8">{{ row.item.kategori_perusahaan }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 font-weight-bold">Alamat Perusahaan</div>
                                        <div class="col-md-8">{{ $decodeHtml(row.item.alamat_perusahaan) }}</div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </b-card>
                </template>
            </b-table>
            <div class="col-12">
                <b-pagination
                    v-if="!loading"
                    v-model="currentPage"
                    :total-rows="totalRows"
                    :per-page="perPage"
                    align="right"
                    size="sm"
                    class="my-3"
                ></b-pagination>
            </div>
        </div>
        <b-modal centered content-class="shadow" :visible="showAlert" hide-footer hide-header>
            <p class="my-2 text-center">Apakah anda yakin hendak menghapus data ini?</p>
            <div class="row">
                <div class="col-md-12">
                    <b-button variant="primary" pill class="w-25 float-right mx-2" @click="deleteData">Ya</b-button>
                    <b-button variant="light" pill class="w-25 float-right mx-2" @click="showAlert = !showAlert">Tidak</b-button>
                </div>
            </div>
        </b-modal>
        <b-modal centered content-class="shadow" v-model="showRequestAlert" hide-footer hide-header size="lg">
            <div class="row">
                <div class="col-12">
                    <h5>List Request</h5>
                </div>
            </div>
            <div class="row" v-if="selectedData.length <= 0">
                <div class="col-12"><h6 class="text-secondary">belum mengajukan request.</h6></div>
            </div>
            <div v-else class="card p-3 bg-light mb-3" v-for="(req,idx) in selectedData" :key="idx">
                <div class="row">
                    <div class="col-6">
                        <span class="font-weight-bold">Tgl pengajuan request</span>
                        <p>{{ $formatIDDate(req.timestamp) }}</p>
                        <span class="font-weight-bold">Brand</span>
                        <p>{{ req.brand }}</p>
                        <span class="font-weight-bold">Material Qty.</span>
                        <p>{{ req.material_qty }}</p>
                    </div>
                    <div class="col-6">
                        <span class="font-weight-bold">Lokasi</span>
                        <p>{{ req.lokasi }}</p>
                        <span class="font-weight-bold">Kebutuhan</span>
                        <p>{{ req.kebutuhan }}</p>
                        <!-- <p>{{ req.status == 0 ? 'Belum terpenuhi' : 'Sudah terpenuhi' }}</p> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <b-button variant="light" pill class="w-25 float-right mx-2" @click="showRequestAlert = false">Close</b-button>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                baseUrl:process.env.BASE_BACKEND_URL,
                showAlert: false,
                showRequestAlert: false,
                loading: false,
                items:[],
                selectedData: [],
                fields:[
                    {key:'actions',sortable:false}, 
                ],
                currentPage:1,
                totalRows:0,
                perPage:10,
                filter:'',
                tmpData: {},
            }
        },
        methods: {
            async fetchTableData() {
                let listCustomers = await this.$axios.get(`/user`, { params:{
                    limit:this.perPage,
                    offset:(this.currentPage-1) * this.perPage,
                    omni:this.filter,
                }, headers: { 'auth-token': this.$cookies.get('admin-token') } })
                this.totalRows = listCustomers.data.data[0] && listCustomers.data.data[0].total_rows || 0
                this.items = listCustomers.data.data
            },
            async clearOmniSearch() {
                this.filter = ''
                await this.fetchTableData()
            },
            async getCustomerRequests(id_user) {
                let fetchRequest = await this.$axios.get(`/requests/${id_user}`, { params:{}, headers: { 'auth-token': this.$cookies.get('admin-token') } })
                this.selectedData = fetchRequest.data.data
                this.showRequestAlert = true
            },
            onFiltered(filteredItems) {
                this.totalRows = filteredItems.length
                this.currentPage = 1
            },
            openInsertForm() {
                localStorage.removeItem('payload-edit')
                this.$router.push({ name: 'home-mutations-artikel-form' })
            },
            openEditForm(row) {
                localStorage.setItem('payload-edit',JSON.stringify(row.item.item))
                this.$router.push({ name: 'home-mutations-artikel-form' })
            },
            async publishArtikel(row) {
                await this.$axios.put(`/artikels/publish`, {
                    id_artikel:row.item.item.id_artikel,
                    status:row.item.item.status == 1 ?  0 : 1,
                }, { headers: {
                    "auth-token":this.$cookies.get('admin-token')
                }})
                .then(async res => {
                    this.$bvToast.toast(`Artikel status updated.`, {
                        title: 'Info',
                        autoHideDelay: 5000,
                        solid: true,
                    })
                    await this.fetchTableData();
                })
                .catch(err => {
                    this.$bvToast.toast(`Mohon maaf terjadi kesalahan. Silahkan coba beberapa saat lagi.`, {
                        title: 'Error',
                        autoHideDelay: 5000,
                        solid: true,
                    })
                })
            },
                        async statusUser(row) {
                await this.$axios.put(`/user/approve`, {
                    id_user:row.item.id_user,
                    status:row.item.status == 1 ?  0 : 1,
                }, { headers: {
                    "auth-token":this.$cookies.get('admin-token')
                }})
                .then(async res => {
                    this.$bvToast.toast(`User status updated.`, {
                        title: 'Info',
                        autoHideDelay: 5000,
                        solid: true,
                    })
                    await this.fetchTableData();
                })
                .catch(err => {
                    this.$bvToast.toast(`Mohon maaf terjadi kesalahan. Silahkan coba beberapa saat lagi.`, {
                        title: 'Error',
                        autoHideDelay: 5000,
                        solid: true,
                    })
                })
            },
            openDeleteAlert(row) {
                this.showAlert = true
                this.tmpData = row
            },
            async deleteData() {
                await this.$axios.delete(`/user`,{ headers: {
                    "auth-token":this.$cookies.get('admin-token')
                },
                data: {
                    id_user:this.tmpData.item.id_user,
                }})
                .then(async res => {
                    this.$bvToast.toast(`User deleted.`, {
                        title: 'Info',
                        autoHideDelay: 5000,
                        solid: true,
                    })
                    await this.fetchTableData();
                })
                .catch(err => {
                    console.log(err.response)
                })
                this.showAlert = false
            },
        },
        async mounted() {
            await this.fetchTableData()
            this.loading = false
        }
    }
</script>

<style>
    .hidden_header {
        display: none;
    }
</style>