<template>
    <div class="container-fluid mx-4">
        <div class="row mt-3">
            <div class="col-12">
                <h1>Events</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <b-button variant="primary" pill class="px-5" size="sm" @click="openInsertForm">+ Add</b-button>
            </div>
            <div class="col-12 p-0">
                <b-table
                    v-if="!loading"
                    :items="items" 
                    :fields="fields"
                    responsive
                    head-variant="dark"
                    :current-page="currentPage"
                    :per-page="perPage"
                    :filter="filter"
                    @filtered="onFiltered"
                >
                    <template #cell(starting_date)="row">
                        {{ $formatIDDate(row.item.starting_date) }}
                    </template>
                    <template #cell(status)="row">
                        {{ row.item.status == 0 ? 'Unpublished.' : 'Published.' }}
                    </template>
                    <template #cell(image)="row">
                        <img class="img-thumbnail" width="120" v-if="row.item.image" :src="'https://mitrapabrik.sgp1.digitaloceanspaces.com/events/' + row.item.image" />
                    </template>
                    <template #cell(action)="row">
                        <b-button-group>
                            <b-button size="sm" class="mb-2 px-4" variant="success" pill @click="publishEvent(row)">{{ row.item.status == 0 ? 'Publish' : 'Unpublish' }}</b-button>
                            <b-button size="sm" class="mb-2 px-4" variant="primary" pill @click="openEditForm(row)">Edit</b-button>
                            <b-button size="sm" class="mb-2 px-4" variant="dark" pill @click="openDeleteAlert(row)">Delete</b-button>
                            <nuxt-link :to="`/home/event/rsvp?id=${row.item.id_event}`"><b-button size="sm" class="mb-2 px-4" variant="info" pill>RSVP List</b-button></nuxt-link>
                        </b-button-group>
                    </template>
                </b-table>
            </div>
            <div class="col-12">
                <b-pagination
                    v-if="!loading"
                    v-model="currentPage"
                    :total-rows="totalRows"
                    :per-page="perPage"
                    align="right"
                    size="sm"
                    class="my-3"
                ></b-pagination>
            </div>
        </div>
        <b-modal centered content-class="shadow" :visible="showAlert" hide-footer hide-header>
            <p class="my-2 text-center">Apakah anda yakin hendak menghapus data ini?</p>
            <div class="row">
                <div class="col-md-12">
                    <b-button variant="primary" pill class="w-25 float-right mx-2" @click="deleteData">Ya</b-button>
                    <b-button variant="light" pill class="w-25 float-right mx-2" @click="showAlert = !showAlert">Tidak</b-button>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showAlert: false,
                loading:null,
                items:[],
                fields:[
                    {key:'id_event', sortable:true},
                    {key:'event_name', sortable:true},
                    {key:'starting_date', sortable:true},
                    {key:'author', sortable:true},
                    {key:'location', sortable:true},
                    {key:'admission', sortable:true},
                    {key:'status', sortable:true},
                    {key:'image',sortable:false}, 
                    {key:'action', sortable:false},
                ],
                currentPage:1,
                totalRows:0,
                perPage:10,
                filter:'',
                tmpData: {},
            }
        },
        methods: {
            async fetchTableData() {
                let listEvents = await this.$axios.get(`/events`)
                this.totalRows = listEvents.data.data.length
                this.items = listEvents.data.data
            },
            onFiltered(filteredItems) {
                this.totalRows = filteredItems.length
                this.currentPage = 1
            },
            openInsertForm() {
                localStorage.removeItem('payload-edit')
                this.$router.push({ name: 'home-mutations-event-form' })
            },
            openEditForm(row) {
                row.item.starting_date = this.$formatDate(row.item.starting_date)
                localStorage.setItem('payload-edit',JSON.stringify(row.item))
                this.$router.push({ name: 'home-mutations-event-form' })
            },
            openDeleteAlert(row) {
                this.showAlert = true
                this.tmpData = row
            },
            async publishEvent(row) {
                await this.$axios.put(`/events/publish`, {
                    id_event:row.item.id_event,
                    status:row.item.status == 1 ?  0 : 1,
                }, { headers: {
                    "auth-token":this.$cookies.get('admin-token')
                }})
                .then(async res => {
                    this.$bvToast.toast(`Event status updated.`, {
                        title: 'Info',
                        autoHideDelay: 5000,
                        solid: true,
                    })
                    await this.fetchTableData();
                })
                .catch(err => {
                    this.$bvToast.toast(`Mohon maaf terjadi kesalahan. Silahkan coba beberapa saat lagi.`, {
                        title: 'Error',
                        autoHideDelay: 5000,
                        solid: true,
                    })
                })
            },
            async deleteData() {
                await this.$axios.delete(`/events`,{ headers: {
                    "auth-token":this.$cookies.get('admin-token')
                },
                data: {
                    id_event:this.tmpData.item.id_event,
                }})
                .then(async res => {
                    this.$bvToast.toast(`Event deleted.`, {
                        title: 'Info',
                        autoHideDelay: 5000,
                        solid: true,
                    })
                    await this.fetchTableData();
                })
                .catch(err => {
                    console.log(err.response)
                })
                this.showAlert = false
            },
        },
        async mounted() {
            await this.fetchTableData()
            this.loading = false
        }
    }
</script>

<style scoped>

</style>